*
  box-sizing: border-box
html
  overflow-x: hidden
body
  font-family: 'Open Sans', sans-serif
  color: $text-color
  background-color: $light
  overflow-x: hidden
button,
input
  outline: none
  &:active,
  &:focus
    outline: none
.container
  max-width: 1140px
  margin: auto
.title
  margin: 0
  font-family: HK Grotesk
  font-style: normal
  font-weight: bold
  font-size: 48px
  line-height: 60px
  letter-spacing: 0.2px
  color: $dark
