@media ( max-width: 1295px )
  .container
    max-width: 860px
  .hero
    &__background
      width: 920px
      background-position: 250px
    &__container
      background-position: 250px
  .collection
    &__image
      &-wrapper
        height: 560px
    &__info
      max-width: 260px
  .card
    &-wrapper
      grid-template-columns: repeat( 3, 1fr )
