@media ( max-width: 576px )
  .header
    padding-top: 18px
  .hero
    padding: 88px 0 64px
    &__background
      width: 100%
      border-radius: 0
      background-position-x: center
      background-position-y: -360px
    &__container
      padding: 380px 20px 20px
      background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%)
      display: flex
      justify-content: center
      flex-wrap: wrap
    &__info
      margin-bottom: 24px
      text-align: center
    &__title
      margin-top: 20px
      font-size: 32px
      line-height: 40px
    &__text
      font-size: 16px
      line-height: 28px
    &__button
      padding: 13px
      font-size: 16px
      line-height: 22px
      margin-bottom: 22px
    &__list
      max-width: 300px
      justify-content: space-around
    &__item
      &:not(:last-child)
        margin-right: 0
    &__image
      width: 14px
      height: 14px
      &-wrapper
        width: 23px
        height: 23px
        border-width: 0.5px
        border-radius: 8px

