@media ( max-width: 768px )
  .container
    max-width: 672px
    width: 92%
  .header
    &__container
      max-width: 650px
      width: 91%
    &-right
      &--mobile
        &--hiden
          display: none
  .hero
    &__background
      max-width: 728px
      width: 96%
